<a href="https://colab.research.google.com/github/Sa96/sanjay/blob/main/DecisionTreeClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
admission=pd.read_csv('/content/Admission_Predict.csv')

In [3]:
admission

     Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0             1        337          118  ...  9.65         1                1
1             2        324          107  ...  8.87         1                1
2             3        316          104  ...  8.00         1                0
3             4        322          110  ...  8.67         1                1
4             5        314          103  ...  8.21         0                0
..          ...        ...          ...  ...   ...       ...              ...
395         396        324          110  ...  9.04         1                1
396         397        325          107  ...  9.11         1                1
397         398        330          116  ...  9.45         1                1
398         399        312          103  ...  8.78         0                0
399         400        333          117  ...  9.66         1                1

[400 rows x 9 columns]

In [4]:
admission['Research'] = admission['Research'].astype(object)

admission= admission.drop('Serial No.', axis = 1)
df_target = admission['Chance of Admit']
df_feature = admission.drop('Chance of Admit', axis = 1)
df_num = df_feature.select_dtypes(include=[np.number])
df_cat= df_feature.select_dtypes(exclude=[np.number])

In [5]:
df_num.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA'], dtype='object')

In [6]:
df_cat.columns

Index(['Research'], dtype='object')

In [7]:
from sklearn.preprocessing import StandardScaler
num_scaled=StandardScaler().fit_transform(df_num)

In [8]:
num_scale_dataframe=pd.DataFrame(num_scaled,columns=df_num.columns)

In [9]:
num_scale_dataframe.head(20)

    GRE Score  TOEFL Score  University Rating       SOP       LOR      CGPA
0    1.762107     1.746971           0.798829  1.093864  1.167321  1.764818
1    0.627656    -0.067635           0.798829  0.596653  1.167321  0.455151
2   -0.070467    -0.562528          -0.076600 -0.397769  0.052933 -1.005631
3    0.453126     0.427257          -0.076600  0.099442 -1.061454  0.119339
4   -0.244998    -0.727492          -0.952029 -1.392191 -0.504260 -0.653029
5    1.151249     1.252078           1.674257  1.093864 -0.504260  1.244310
6    0.365860     0.262293          -0.076600 -0.397769  0.610127 -0.669819
7   -0.768590    -1.057420          -0.952029 -0.397769  0.610127 -1.173537
8   -1.292182    -0.892456          -1.827457 -1.392191 -2.175842 -1.005631
9    0.540391     0.097329          -0.076600  0.099442 -0.504260  0.001805
10   0.714922    -0.232599          -0.076600  0.099442  0.610127 -0.334007
11   0.889453     0.592221           0.798829  0.596653  1.167321  0.673429
12   0.976718     0.757186           0.798829  0.596653  1.167321  0.841335
13  -0.855855     0.262293          -0.076600  0.596653 -0.504260 -1.005631
14  -0.506794    -0.562528          -0.076600  0.099442 -1.618648 -0.669819
15  -0.244998    -0.397564          -0.076600  0.099442 -1.061454 -0.501913
16   0.016799    -0.067635          -0.076600  0.596653 -0.504260  0.169711
17   0.191329    -0.232599          -0.076600  0.596653 -0.504260 -1.005631
18   0.104064     0.427257          -0.076600  0.596653 -0.504260  0.337617
19  -1.204917    -0.892456          -0.076600  0.099442 -0.504260 -0.166101

In [10]:
df_cat.columns

Index(['Research'], dtype='object')

In [11]:
df_dummy=pd.get_dummies(data=df_cat,drop_first=True)

In [12]:
df_concat=pd.concat([num_scale_dataframe,df_dummy],axis=1)

In [13]:
df_concat.head(20)

    GRE Score  TOEFL Score  University Rating  ...       LOR      CGPA  Research_1
0    1.762107     1.746971           0.798829  ...  1.167321  1.764818           1
1    0.627656    -0.067635           0.798829  ...  1.167321  0.455151           1
2   -0.070467    -0.562528          -0.076600  ...  0.052933 -1.005631           1
3    0.453126     0.427257          -0.076600  ... -1.061454  0.119339           1
4   -0.244998    -0.727492          -0.952029  ... -0.504260 -0.653029           0
5    1.151249     1.252078           1.674257  ... -0.504260  1.244310           1
6    0.365860     0.262293          -0.076600  ...  0.610127 -0.669819           1
7   -0.768590    -1.057420          -0.952029  ...  0.610127 -1.173537           0
8   -1.292182    -0.892456          -1.827457  ... -2.175842 -1.005631           0
9    0.540391     0.097329          -0.076600  ... -0.504260  0.001805           0
10   0.714922    -0.232599          -0.076600  ...  0.610127 -0.334007           1
11   0.889453     0.592221           0.798829  ...  1.167321  0.673429           1
12   0.976718     0.757186           0.798829  ...  1.167321  0.841335           1
13  -0.855855     0.262293          -0.076600  ... -0.504260 -1.005631           1
14  -0.506794    -0.562528          -0.076600  ... -1.618648 -0.669819           1
15  -0.244998    -0.397564          -0.076600  ... -1.061454 -0.501913           0
16   0.016799    -0.067635          -0.076600  ... -0.504260  0.169711           0
17   0.191329    -0.232599          -0.076600  ... -0.504260 -1.005631           1
18   0.104064     0.427257          -0.076600  ... -0.504260  0.337617           0
19  -1.204917    -0.892456          -0.076600  ... -0.504260 -0.166101           0

[20 rows x 7 columns]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_concat, df_target, random_state = 10, test_size = 0.2)

In [15]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()

In [16]:
dtc.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [17]:
Y_predict=dtc.predict(X_test)

In [18]:
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,f1_score

In [19]:
confusion_matrix(y_test,Y_predict)

array([[33,  9],
       [ 7, 31]])

In [20]:
accuracy_score(y_test,Y_predict)

0.8

In [21]:
recall_score(y_test,Y_predict)

0.8157894736842105

In [22]:
precision_score(y_test,Y_predict)

0.775

In [23]:
f1_score(y_test,Y_predict)

0.7948717948717949

In [24]:
from sklearn.metrics import classification_report

In [25]:
print(classification_report(y_test,Y_predict))

              precision    recall  f1-score   support

           0       0.82      0.79      0.80        42
           1       0.78      0.82      0.79        38

    accuracy                           0.80        80
   macro avg       0.80      0.80      0.80        80
weighted avg       0.80      0.80      0.80        80